// Required
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


$theme-colors: (
  "primary": $blue-700,
  "danger": $red-500,
  "info": $blue-200,
  "dark": $blue-900,
  "light": $white,
  "warning": $orange-500,
  "secondary": $gray-700,
  "success": $green-600
);

#app {
  font-family: Poppins, sans-serif;
}

.center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.banner-logo {
    width: 120px;
}

#pds input[type='text'] {
    text-transform: uppercase;
}

#pds .form-status{
    opacity: .6;
}

.text-pre-wrap {
    white-space: pre-wrap
}

.top-bar{
    background-color: $gray-100;
}

.topbar-control{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 10px 0 10px;

    &:hover{
        background-color: $blue-700;
        color: $gray-100;
    }
}

.dropdown-menu-right {
    right: 0;
    left: auto;
    margin-top: 10px;
}

.side-nav{
    position: fixed;
    height: 100vh;
    z-index: 1;
    width: 270px;
    background: linear-gradient(135deg, $blue-400, $blue-700); /* Gradient from light blue to darker blue */
    background-repeat: no-repeat;
    background-size: cover;
    
    .nav-link {
        font-size: .87rem;
        transition: all .5s;
        color: $white !important;
        padding: 12px 13px 12px 13px;

        &:hover{
            background-color: $blue-700;
        }
    }

    .nav-item .active{
        background-color: $blue-700;
    }

    
}

.side-nav-logo{
    width: 50px;
}

.modal-max-width{
    min-width: 90%;
}

.uppercase{
    text-transform: uppercase;
}

@media only screen and (max-width: 1700px)  {
    .side-nav-col{
        display: none;
    }

    .side-nav-toggler{
        display: inline-block !important;
    }

    .side-nav{
        position: relative;
        width: 100%;
    }
}

.text-through{
    text-decoration: line-through;
}

#job_vacancies{
    font-size: 1.09em;
    div {
        padding-left: 8px;
    }

    a:hover{
        color: $blue-900;
    }


    .active{
        border-left:4px solid $blue-500 ;
        a{
            color: $blue-900;
            font-size: 1.05em;
        }
    }
}

.profile-pic{
    width: 150px;
    height: auto;

}

.pic-md{
    width: 300px;
}

.profile-pic-nav{
    width: 50px;
    height: auto;
}

.bg-dashboard{
    background-image: url('../js/Assets/neda_facade.jpg');
    height: 88vh !important;
    // margin-right: 25px;
    width: 100%;
    background-size: cover;
    background-position: center;

}

.auth-layout{
    // background-image: url('../js/Assets/neda_facade.png');
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;

    .card{
        border-top:solid;
        border-top-width: 10px;
        border-color: $primary;
    }

    .left{
        height: 100vh;
    }
}

.main{
    min-height: 80vh;
}

.dropdown {
    .active{
        background: $secondary;
        color: white
    }
}

.dtr-active{
    color: darkblue;
}

.applicant-list {
    text-decoration: none;
    font-weight: bold;
    font-size:medium;

    ol li{
        margin-bottom: 20px;
        transition: all .5s;

        &:has(> a.active){
            transform: scale(1.1) ;
        }

        &:hover{
            transform: scale(1.1) ;
        }

        .active{
            color: black;
        }

        
    }
}

.applicant_details{
    dd{
        margin-bottom: 20px;
    }
}

.education-box{
    a{
        text-decoration: none;
        color: rgb(5, 196, 62);

        &:hover{
            color: rgb(2, 139, 43);
        }
    }
}

$anim-duration: 2; // in seconds
$anim-speed: 0.75; // in seconds

:root {
  --btn-border: 1px solid rgba(255, 255, 255, 0.2);
  --btn-bg: rgb(22, 115, 255); // #333
  --btn-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.5);
  --btn-text-color: #ffffff;

  --shine-degree: 120deg;
  --shine-color: rgba(255, 255, 255, 0.384);
  --shine-effect: linear-gradient(
    var(--shine-degree),
    transparent,
    var(--shine-color),
    transparent
  );
  --shine-transition: all #{$anim-speed}s ease-in-out;
}

.btnx {
  position: relative;
  overflow: hidden; // debug

  // last element should not have margin
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  font-size: 1.1rem;

  border-radius: 4px;
  text-decoration: none;
  border: var(--btn-border);
  color: var(--btn-text-color);
  background: var(--btn-bg);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--shine-effect);
  }
}

@keyframes shine {
  0% {
    left: -100%;
    transition-property: left;
  }
  #{($anim-speed / ($anim-duration + $anim-speed) * 100%)},
  100% {
    left: 100%;
    transition-property: left;
  }
}

.btn-alt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  font-size: 1.1rem;

  position: relative;
  overflow: hidden; // debug

  // last element should not have margin
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  border-radius: 4px;
  text-decoration: none;
  border: var(--btn-border);
  color: var(--btn-text-color);
  background: var(--btn-bg);

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
  }
  &:before {
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    left: 0;
    filter: blur(30px);
    animation: shine-alt1 #{$anim-duration}s ease-in-out infinite;
  }
  &:after {
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    left: 30px;
    filter: blur(5px);
    animation: shine-alt2 #{$anim-duration}s ease-in-out infinite;
  }
}

@keyframes shine-alt1 {
  0% {
    opacity: 0.5;
    transform: translateX(-100px) skewX(-15deg);
    transition-property: opacity, transform;
  }
  #{($anim-speed / ($anim-duration + $anim-speed) * 100%)},
  100% {
    opacity: 0.6;
    transform: translateX(300px) skewX(-15deg);
    transition-property: opacity, transform;
  }
}

@keyframes shine-alt2 {
  0% {
    opacity: 0;
    transform: translateX(-100px) skewX(-15deg);
    transition-property: opacity, transform;
  }
  #{($anim-speed / ($anim-duration + $anim-speed) * 100%)},
  100% {
    opacity: 1;
    transform: translateX(300px) skewX(-15deg);
    transition-property: opacity, transform;
  }
}

