@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
#app {
  font-family: Poppins, sans-serif;
}

.center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

.banner-logo {
  width: 120px;
}

#pds input[type=text] {
  text-transform: uppercase;
}

#pds .form-status {
  opacity: 0.6;
}

.text-pre-wrap {
  white-space: pre-wrap;
}

.top-bar {
  background-color: #f8f9fa;
}

.topbar-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0 10px 0 10px;
}
.topbar-control:hover {
  background-color: #084298;
  color: #f8f9fa;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
  margin-top: 10px;
}

.side-nav {
  position: fixed;
  height: 100vh;
  z-index: 1;
  width: 270px;
  background: linear-gradient(135deg, #3d8bfd, #084298); /* Gradient from light blue to darker blue */
  background-repeat: no-repeat;
  background-size: cover;
}
.side-nav .nav-link {
  font-size: 0.87rem;
  transition: all 0.5s;
  color: #fff !important;
  padding: 12px 13px 12px 13px;
}
.side-nav .nav-link:hover {
  background-color: #084298;
}
.side-nav .nav-item .active {
  background-color: #084298;
}

.side-nav-logo {
  width: 50px;
}

.modal-max-width {
  min-width: 90%;
}

.uppercase {
  text-transform: uppercase;
}

.text-through {
  text-decoration: line-through;
}

#job_vacancies {
  font-size: 1.09em;
}
#job_vacancies div {
  padding-left: 8px;
}
#job_vacancies a:hover {
  color: #031633;
}
#job_vacancies .active {
  border-left: 4px solid #0d6efd;
}
#job_vacancies .active a {
  color: #031633;
  font-size: 1.05em;
}

.profile-pic {
  width: 150px;
  height: auto;
}

.pic-md {
  width: 300px;
}

.profile-pic-nav {
  width: 50px;
  height: auto;
}

.bg-dashboard {
  background-image: url("../js/Assets/neda_facade.jpg");
  height: 88vh !important;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.auth-layout {
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.auth-layout .card {
  border-top: solid;
  border-top-width: 10px;
  border-color: #0d6efd;
}
.auth-layout .left {
  height: 100vh;
}

.main {
  min-height: 80vh;
}

.dropdown .active {
  background: #6c757d;
  color: white;
}

.dtr-active {
  color: darkblue;
}

.applicant-list {
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
}
.applicant-list ol li {
  margin-bottom: 20px;
  transition: all 0.5s;
}
.applicant-list ol li:has(> a.active) {
  transform: scale(1.1);
}
.applicant-list ol li:hover {
  transform: scale(1.1);
}
.applicant-list ol li .active {
  color: black;
}

.applicant_details dd {
  margin-bottom: 20px;
}

.education-box a {
  text-decoration: none;
  color: rgb(5, 196, 62);
}
.education-box a:hover {
  color: rgb(2, 139, 43);
}

:root {
  --btn-border: 1px solid rgba(255, 255, 255, 0.2);
  --btn-bg: rgb(22, 115, 255);
  --btn-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.5);
  --btn-text-color: #ffffff;
  --shine-degree: 120deg;
  --shine-color: rgba(255, 255, 255, 0.384);
  --shine-effect: linear-gradient(
    var(--shine-degree),
    transparent,
    var(--shine-color),
    transparent
  );
  --shine-transition: all 0.75s ease-in-out;
}

.btnx {
  position: relative;
  overflow: hidden;
  font-size: 1.1rem;
  border-radius: 4px;
  text-decoration: none;
  border: var(--btn-border);
  color: var(--btn-text-color);
  background: var(--btn-bg);
}
.btnx:not(:last-child) {
  margin-bottom: 3rem;
}
.btnx::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--shine-effect);
}

@keyframes shine {
  0% {
    left: -100%;
    transition-property: left;
  }
  27.2727272727%, 100% {
    left: 100%;
    transition-property: left;
  }
}
.btn-alt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  font-size: 1.1rem;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  text-decoration: none;
  border: var(--btn-border);
  color: var(--btn-text-color);
  background: var(--btn-bg);
}
.btn-alt:not(:last-child) {
  margin-bottom: 3rem;
}
.btn-alt::before, .btn-alt::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
}
.btn-alt:before {
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  left: 0;
  filter: blur(30px);
  animation: shine-alt1 2s ease-in-out infinite;
}
.btn-alt:after {
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  left: 30px;
  filter: blur(5px);
  animation: shine-alt2 2s ease-in-out infinite;
}

@keyframes shine-alt1 {
  0% {
    opacity: 0.5;
    transform: translateX(-100px) skewX(-15deg);
    transition-property: opacity, transform;
  }
  27.2727272727%, 100% {
    opacity: 0.6;
    transform: translateX(300px) skewX(-15deg);
    transition-property: opacity, transform;
  }
}
@keyframes shine-alt2 {
  0% {
    opacity: 0;
    transform: translateX(-100px) skewX(-15deg);
    transition-property: opacity, transform;
  }
  27.2727272727%, 100% {
    opacity: 1;
    transform: translateX(300px) skewX(-15deg);
    transition-property: opacity, transform;
  }
}
@media only screen and (max-width: 2000px) {
  .home-image {
    width: 50%;
  }
}
@media only screen and (max-width: 1700px) {
  .side-nav-col {
    display: none;
  }
  .side-nav-toggler {
    display: inline-block !important;
  }
  .side-nav {
    position: relative;
    width: 100%;
  }
  .home-image {
    width: 60%;
  }
}
@media only screen and (max-width: 768px) {
  .home-image {
    width: 100%;
  }
}/*# sourceMappingURL=app.css.map */